body {
    background-color: #5350dd;
    font: normal 15pt Arial;
}

header {
    color: black;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: black;
    text-align: center;
}